*{
    font-family: Arial, Helvetica, sans-serif;
}



/* Barres de navigation */

    /* NAV1 */
.nav1 ul li{
    list-style-type: none;
    text-decoration: none;
}

.navbar1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
}

    /* NAV2 */

.nav2 p{
    text-align: center;
}

.nav2 ul li{
    list-style-type: none;
}

.nav2{
    height: 80px;
    background-color: rgb(171, 248, 235);
    padding-top: 5px;
}

li a{
    text-decoration: none;
}

.social-medias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    /* NAV3 */

.logo{
    display: flex;
    align-items: center;
    padding-left: 400px;
}

.nav3 ul li{
    list-style-type: none;
}

.tech-worlds{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: lightskyblue;
    border: 2px solid rgb(82, 64, 197);
    border-radius: 5%;
    height: 50px;
}

.tech-worlds li a{
    color: purple;
    font-weight: bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

/* Main */

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.text img{
    padding-top: 40px;
    padding-left: 160px;
    vertical-align: middle;
    float: inline-start;
}

.text img p{
    text-indent: 10%;
    max-height: 10%;
    font-family: 'Poppins' sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

p{
    text-align: center;
    padding-left: 50px;
}

.site_en_maintenance {
    margin-right: 20%;
}

/* Footer */

.footer_nav{
    background-color: lightblue;
    height: 150px;
}

.footer_nav ul li{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}

.container-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 50px;
}

.container-links li a{
    font-size: 16px;
    width: 300px;
    height: auto;
}
